<mat-card class="ad-form">
    <h1 mat-dialog-title>{{title}}</h1>
    <section>
        <form [formGroup]="formGroup">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                    <mat-error *ngIf="formGroup.get('title')?.hasError('required')">
                        Title is required.
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('title') ?.hasError('maxlength')">
                        Title must not exceed max length.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let item of categories$ | async" [value]="item.id">
                            {{item.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>Category is required.</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="body">
                    <mat-label>Body</mat-label>
                    <textarea matInput formControlName="body"></textarea>
                    <mat-error *ngIf="formGroup.get('body') ?.hasError('required')">
                        Body is required.
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('body') ?.hasError('maxlength')">
                        Body must not exceed max length.
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                    <mat-error>Phone is required.</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>Email is required.</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="dp3" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="actions">
                <button mat-button (click)="cancel()">Cancel</button>
                <ng-container *ngIf="!model">
                    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
                </ng-container>
            </div>
        </form>
    </section>
</mat-card>

