/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8px 0;
}

.filter-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-title, .filter-category {
    width: 300px;
    margin: 16px 8px;
}

.filter-date {
    margin: 16px;
}

.th-title {
    width: 350px;
}
